
body {
    margin: 0; /* elimina margen por defecto */
    font-family: Arial, sans-serif; /* define fuente de texto */
    background-color: #f4f4f4; /* color de fondo */
    color: #333;
}


.container {
    width: 90%; /* define anchoo del contenido */
    max-width: 800px; /* define el ancho maximo del contenido */
    margin: auto; /* centra el contenido horizontalmente */
}


.hero {
    background-color: #333; /* fondo oscuro para el hero */
    color: white; /* texto blanco para contraste */
    padding: 40px 0; /* espacio arriba y abajo */
    text-align: center; /* centra texto */ 
}

.hero h1 {
    margin: 10px 0; /* espacio entre el título y el subtítulo */
}

.eyebrow {
    font-size: 14px; /* tamaño de fuente mas pequeño para el eyebrow */
    color: #ccc; /* color gris claro para el eyebrow */
}

.intro {
    font-size: 16px; /* tamaño de fuente de la intro */
}

/* Tarjetas */
.card {
    background: white; /* fondo blanco para las tarjetas */
    padding: 20px;  /* espacio dentro de las tarjetas */
    margin: 20px 0; /* espacio entre tarjetas */
    border-radius: 8px; 
}

/* Sección de posts */
.posts article h2 {
    margin-top: 0; /* elimina margen superior del título de post */
}

/* Links */
a {
    color: #00ff00; /* color de los enlaces */ 
    text-decoration: none; /* elimina el subrayador de los enlaces */
}

a:hover {
    text-decoration: underline; /* surbaya los enlaces al pasar el mouse */
}

/* Footer */
.footer {
    background-color: rgb(10, 255, 2);
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 15px 0 20px 20px;
    margin-top: 20px;
}
.a {
    color: rgba(250, 163, 1, 0.521);
    border: 2px solid rgba(9, 160, 165, 0.521);
    padding: 10px 10px;
    border-radius: 1%

}
